################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/evkau/evkau/.vs/evkau
*.user
/.vs
